# macOS / iOS / Xcode
##############################

# User-specific files
*.xcuserstate
*.xcuserdatad/
*.moved-aside
*.swp
*.swo
*~

# Xcode build files
build/
DerivedData/

# Xcode workspace & project configuration
*.xcworkspace/
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
xcuserdata/

# Xcode crash logs
*.crash

# SwiftPM build artifacts
.swiftpm/
Packages/
Package.resolved
.build/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# .DS_Store (macOS specific)
.DS_Store

# Playground content
timeline.xctimeline
playground.xcworkspace/

# Xcode Archive and ipa
